typer>=0.12
rich>=13.7
pyyaml>=6.0
boto3>=1.34
httpx>=0.27

# opcionais, só se for usar GCP/Azure:
# google-cloud-compute>=1.19
# google-cloud-resource-manager>=1.12
# azure-identity>=1.16
# azure-mgmt-compute>=31.0
# azure-mgmt-network>=25.4
